<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>空白函件</title>
    <link rel="stylesheet" href="/ding/lib/weui.min.css">
    <link rel="stylesheet" href="/ding/css/weui.css">
    <link rel="stylesheet" href="/ding/css/case-use-paper.css">
    <link rel="stylesheet" href="/ding/css/upload_img.css">
    <style>
        .demos-header{
            padding: 0;
        }
    </style>
</head>
<body ontouchstart>

<div class="weui-tab">
    <div class="weui-tab__bd">
        <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
            <div class="weui-cells">
                <div class="margin-gray"></div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">当事人姓名/名称</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" id="current_name" placeholder="请填写">
                    </div>
                </div>
                <!--<div class="margin-gray"></div>-->
                <!--<div class="weui-cell">-->
                    <!--<div class="weui-cell__hd">-->
                        <!--<label class="weui-label">文书类型</label>-->
                    <!--</div>-->
                    <!--<div class="weui-cell__bd">-->
                        <!--<input class="weui-input" type="text" readonly="readonly" placeholder="请选择类型" id="text_type">-->
                    <!--</div>-->
                    <!--<div class="weui-cell__ft">-->
                    <!--</div>-->
                <!--</div>-->

                <div class="margin-gray"></div>

                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">用章份数</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" id="select-number" type="number" pattern="[0-9]*" placeholder="最多同时申请三份">
                    </div>
                </div>
                <div class="margin-gray"></div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">申请原因</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" id="reason" pattern="[0-9]*" placeholder="请填写">
                    </div>
                </div>
                <div class="margin-gray"></div>
                <div class="weui-cell">
                    <div id="container">
                        <a href="javascript:void(0)" class="file">选择图片
                            <input type='file' multiple accept = 'image/gif,image/jpeg,image/jpg,image/png,image/bmp' />
                            <input type="hidden" value=""/>
                        </a>
                    </div>
                </div>
                <div class="margin-gray"></div>
                <div class="weui-btn-margin">
                    <a href="javascript:;" class="weui-btn weui-btn_primary margin-bottom" id="submit">提交</a>
                </div>

            </div>
        </div>
    </div>
    <div id="full_text" class='weui-popup__container'>
        <div class="weui-popup__overlay"></div>
        <div class="weui-popup__modal">
            <header id='full_ctn'>

            </header>
        </div>
    </div>
    <div class="weui-tabbar">
        <a href="/ding/chapter_case/index" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <img src="/ding/images/ba1.png" alt="">
            </div>
            <p class="weui-tabbar__label">办案用章</p>
        </a>
        <a href="/ding/chapter_case/chapter_other" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <img src="/ding/images/qt.png" alt="">
            </div>
            <p class="weui-tabbar__label">其他用章</p>
        </a>
        <a href="/ding/chapter_case/chapter_blank" class="weui-tabbar__item weui-bar__item--on">
            <div class="weui-tabbar__icon">
                <img src="/ding/images/kb.png" alt="">
            </div>
            <p class="weui-tabbar__label">空白函件</p>
        </a>
        <a href="/ding/chapter_case/chapter_record" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <img src="/ding/images/yz1.png" alt="">
            </div>
            <p class="weui-tabbar__label">用章记录</p>
        </a>
    </div>
</div>

</body>
<script src='https://g.alicdn.com/dingding/open-develop/1.6.9/dingtalk.js?spm=a219a.7629140.0.0.t4bEpv&file=dingtalk.js'></script>
<script src="/ding/js/uploadImg.js"></script>
<script src="/ding/lib/jquery-2.1.4.js"></script>
<script src="/ding/js/jquery-weui.min.js"></script>
<script src="/ding/lib/fastclick.js"></script>
<script src="/ding/js/select.js"></script>
<script>
    $(function () {
        FastClick.attach(document.body);
    });
</script>
<script>
    var open_config = {$config};
    var code;

    dd.ready(function() {
        dd.runtime.permission.requestAuthCode({
            corpId: "{:CORPID}",
            onSuccess: function(result) {
                code = result.code;
            },
            onFail : function(err) {}

        });
    });
</script>
<script>

    $(function(){

        $('#format_text').click(function(){
            $('.weui-cells_radio').fadeToggle();
        })

        $('#x12').click(function(){
            $('#format_type').fadeOut();
        })

        $('#x11').click(function(){
            $('#format_type').fadeIn();
        })

        $('#open-popup').click(function(){
            $('#full').popup();
        })

        $('#demos-header').on('click','.demos-header',function(){
            $(this).children('p.child').fadeToggle();
        })

        $('#text_type').click(function(){
            $('#full_text').popup();
        })

        var images = [];
        var params = {
            container: '#container',
            url: '/ding/base/upload ',
            dragDrop: false,
            onDragLeave: function(target) {

            },
            onSuccess:function(data){
                // console.log(data);
                images.push(data.imgData.data);
                // console.log(images);
            },
            onFailure:function(file, XMLHttpRequest, textStatus, errorThrown){
                console.log(file, XMLHttpRequest, textStatus, errorThrown);
            }
        };

        var uploadImg1 = new UploadImg(params);


        $.ajax({
            url:'/ding/api/writ_list',
            type:'GET',
            dataType:'JSON',
            beforeSend:function () {

            },
            success:function (result) {
                console.log(result);

                for (var y in result.data) {

                    $('#full_ctn').append('<div class="demos-header"> </div>');
                    var title_two = ' <div class="weui-cell weui-cell_access father">' + result.data[y].name + '</div>';
                    $('.demos-header').eq($('.demos-header').length-1).append(title_two);

                    for (var z in result.data[y].children) {
                        var ws = result.data[y].children[z];
                        var ctn = '<p class="weui-cell weui-cell_access child close-popup" style="display: none;" writ_id="'+ws.id+'"> ' + ws.name + ' </p>';
                        $('.demos-header').eq($('.demos-header').length-1).append(ctn)
                    }
                }

                $('#full_ctn').on('click','.demos-header',function(){
                    $(this).children('p.child').fadeToggle();
                })

                $('#full_ctn').on('click','.child',function(){
                    var child_type = $(this).text();
                    var writ_name = $(this).attr('writ_id');
                    localStorage.w_name = writ_name;
                    $('#text_type').val(child_type);

                })

            }
        })

        $('#submit').click(function(){

            let current_name = $('#current_name').val();
            // let text_type = $('#text_type').val();
            let select_number = $('#select-number').val();
            let reason = $('#reason').val();
            let w_name = '';

            let data = {
                type:3,
                code:code,
                file_url:images,
                name:current_name,
                writ_id:w_name,
                chapter_num:select_number,
                reason:reason,
                is_writ:1
            }

            console.log(data);

            $.ajax({
                type: 'POST',
                url: '/ding/api/add_chapter',
                dataType: 'json',
                data:data,
                beforeSend: function () {
                    $.showLoading();
                },
                success:function (result) {

                    setTimeout(function() {
                        $.hideLoading();
                        window.location.href = '/ding/chapter_case/chapter_record'
                    },1000)
                },
                error:function (){

                }
            })

        })
    })
</script>
</html>